<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
    </div>
    <div class="col-12 float-right">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <div class="form-group">
              <button routerLink="/add-offre" class = "btn btn-primary">Création d'une Nouvelle Offre</button>
              </div>
              <label>
                <select name="users-list-select"
                        class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                        (click)="updateLimit($event)">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label>
              <label for="ngx-filter-ref" class="float-right">Search:
                <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                       type="text" (keyup)="filterUpdate($event)" />
              </label>
            </fieldset>
            <ngx-datatable class="bootstrap core-bootstrap" id="bold" [columnMode]="ColumnMode.force" [headerHeight]="50"
                           [footerHeight]="50"  rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                           [columns]="columns ">
              <ngx-datatable-column name="titre" prop="titre" [width]="70"></ngx-datatable-column>
              <ngx-datatable-column name="description" prop="description" [width]="150"></ngx-datatable-column>
              <ngx-datatable-column name="reference" prop="reference" [width]="150"></ngx-datatable-column>
              <ngx-datatable-column name="dateCreation" prop="dateCreation" [width]="70">
              <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'MM/dd/yyyy'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" prop="id" [width]="50">
                <ng-template ngx-datatable-cell-template let-value="value">
                  <a (click)="onUpDate(value)"><i class="ft-eye"></i></a>&nbsp;&nbsp;
                  <a (click)="onUpdateOffre(value)"><i class="ft-edit text-primary cursor-pointer mr-2"></i></a>
                  <a (click)="onDeleteOffre(value)"><i class="ft-delete text-danger cursor-pointer"></i></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->
